.postinfo {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 4;

  display: flex;
  align-items: flex-end;
  max-height: 3vh;
  margin-bottom: 2vh;
  font-size: var(--smallFontSize);
  white-space: nowrap;
}

.visible_1024 {
  display: none;
  color: var(--grey99);
}

.postinfo>*:not(:last-child) {
  margin-right: 10px;
}

.user_name {
  color: var(--orange);
  white-space: nowrap;
}

.user_photo {
  max-height: 3vh;
}

.post_time {
  color: var(--grey99);
  white-space: nowrap;
}

@media all and (min-width: 1024px) {
  .postinfo {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    align-items: center;
    margin-bottom: 0;
    margin-top: 5px;
  }

  .visible_1024 {
    display: inline;
  }

  .user_photo {
    order: 2
  }

  .user_name {
    order: 3
  }

  .post_time {
    margin-right: 10px;
  }
}